<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hcl.boot.mapper.UserMapper">
	<select id="checkLogin" resultType="com.hcl.boot.proj.User">
		select * from t_user_user where enabled=1 and phone=#{phone} and password=#{password}
	</select>
	
	<select id="getUserBaseInfo" parameterType="int" resultType="com.hcl.boot.proj.User">
		select id,username,realname,weixinname,headicon from t_user_user where id=#{id}
	</select>
</mapper>